In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

-Importez le Dataset CSV

In [2]:
dataset_path = "Dataset_Brief.csv"
df = pd.read_csv(dataset_path)

-Voir le % de Valeurs null pour chaques cols.

-Drop les valeurs nulls du Dataset.

In [3]:
missing_rate = df.isna().sum()/df.shape[0]
missing_rate
df = df.dropna()

-Vérifié les duplicatas de données dans le dataset.

-Drop les duplicatas en ne gardant que la premiere itération.

In [4]:
print(df.duplicated().shape[0])

duplicates = df.duplicated()
duplicates_data = df[duplicates]


print("\nLignes avec des duplicatas:")
print(duplicates_data)

df = df.drop_duplicates(subset=["age", "sex", "bmi", "children", "smoker", "region"], keep='first')

df.shape[0]

1338

Lignes avec des duplicatas:
     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

1335

-Variable pour encoder les cols objet.

-forcer valeurs des cols bmi et charges à passer en float.

-forcer valeurs de col children à passer en int.

-Creation des sous cols pour bmi & age en int.

-Pour chaque valeur unique dans col children créer une nouvelle col value.name en int.

In [5]:
columns_to_encode = ['sex', 'smoker', 'region']

df['children'] = df['children'].astype(int)
df['bmi'] = df['bmi'].astype(float)
df['charges'] = df['charges'].astype(float)

df['Insuffisance pondérale'] = (df['bmi'] < 18.5).astype(int)
df['Poids_normal'] = ((df['bmi'] >= 18.5) & (df['bmi'] < 24.9)).astype(int)
df['Surpoids'] = ((df['bmi'] >= 24.9) & (df['bmi'] < 29.9)).astype(int)
df['Obésité_de_classe_I_(modérée)'] = ((df['bmi'] >= 29.9) & (df['bmi'] < 34.9)).astype(int)
df['Obésité_de_classe_II_(sévère)'] = (df['bmi'] >= 34.9).astype(int)

df['Jeune'] = (df['age'] < 18).astype(int)
df['Adulte'] = ((df['age'] >= 18) & (df['age'] < 35)).astype(int)
df['Adulte_moyen'] = ((df['age'] >= 35) & (df['age'] < 50)).astype(int)
df['Senior'] = ((df['age'] >= 50) & (df['age'] < 65)).astype(int)
df['Très_senior'] = (df['age'] >= 65).astype(int)

unique_values = df['children'].unique()

for value in unique_values:
    new_col_name = f'children_{value}'
    df[new_col_name] = (df['children'] == value).astype(int)	

df.describe()

,age,bmi,children,charges,Insuffisance pondérale,Poids_normal,Surpoids,Obésité_de_classe_I_(modérée),Obésité_de_classe_II_(sévère),Jeune,Adulte,Adulte_moyen,Senior,Très_senior,children_0,children_1,children_3,children_2,children_5,children_4
count,1335.000000,1335.000000,1335.000000,1335.000000,1335.000000,1335.000000,1335.000000,1335.000000,1335.000000,1335.0,1335.000000,1335.000000,1335.000000,1335.0,1335.000000,1335.000000,1335.000000,1335.000000,1335.000000,1335.000000
mean,39.253933,30.658157,1.097378,13286.778216,0.014981,0.166292,0.282397,0.297378,0.238951,0.0,0.408989,0.302622,0.288390,0.0,0.427715,0.242697,0.117603,0.179775,0.013483,0.018727
std,14.030779,6.101456,1.205727,12115.615150,0.121523,0.372482,0.450334,0.457276,0.426603,0.0,0.491831,0.459565,0.453183,0.0,0.494933,0.428874,0.322258,0.384144,0.115375,0.135609
min,18.000000,15.960000,0.000000,1121.873900,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27.000000,26.255000,0.000000,4746.698450,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,39.000000,30.400000,1.000000,9386.161300,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,51.000000,34.687500,2.000000,16717.010750,0.000000,0.000000,1.000000,1.000000,0.000000,0.0,1.000000,1.000000,1.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,64.000000,53.130000,5.000000,63770.428010,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

-pour chaque value dans la variable encoder.
     - enregistre les variables unique des cols.

-pour chaque value dans variable unique.
     -créer une nouvel col avec pour nom is_value en int.


-rename is_yes & is_no en smoker & not_smoker.

-reprendre les cols sex & smoker en int 1 == female & yes.

-redéfini l'ordre des col du dataset .

In [6]:

for col in columns_to_encode:
    if col not in df.columns:
        print(f"Warning: Column '{col}' not found in the DataFrame.")
        columns_to_encode.remove(col)

for col in columns_to_encode:
    unique_values = df[col].unique()
    for value in unique_values:
        new_col_name = f'is_{value.lower().replace(" ", "_")}'
        df[new_col_name] = (df[col] == value).astype(int)


df['sex'] = (df['sex'] == 'female').astype(int)
df['smoker'] = (df['smoker'] == 'yes').astype(int)

df.describe()
df = df.rename(columns={'is_yes': 'is_smoker', 'is_no': 'is_not_smoker'})

df = df[['age', 'Jeune', 'Adulte', 'Adulte_moyen', 'Senior', 'Très_senior', 'sex', 'is_female', 'is_male', 'bmi', 'Insuffisance pondérale', 'Poids_normal', 'Surpoids', 'Obésité_de_classe_I_(modérée)', 'Obésité_de_classe_II_(sévère)', 'children', 'children_0', 'children_1', 'children_2', 'children_3', 'children_4', 'children_5', 'smoker', 'is_smoker', 'is_not_smoker', 'is_southwest', 'is_southeast', 'is_northwest', 'is_northeast', 'charges']]

-Description du nouveau dataset.

In [7]:
df.describe()

,age,Jeune,Adulte,Adulte_moyen,Senior,Très_senior,sex,is_female,is_male,bmi,...,children_4,children_5,smoker,is_smoker,is_not_smoker,is_southwest,is_southeast,is_northwest,is_northeast,charges
count,1335.000000,1335.0,1335.000000,1335.000000,1335.000000,1335.0,1335.000000,1335.000000,1335.000000,1335.000000,...,1335.000000,1335.000000,1335.000000,1335.000000,1335.000000,1335.000000,1335.000000,1335.000000,1335.000000,1335.000000
mean,39.253933,0.0,0.408989,0.302622,0.288390,0.0,0.494382,0.494382,0.505618,30.658157,...,0.018727,0.013483,0.205243,0.205243,0.794757,0.243446,0.271910,0.242697,0.241948,13286.778216
std,14.030779,0.0,0.491831,0.459565,0.453183,0.0,0.500156,0.500156,0.500156,6.101456,...,0.135609,0.115375,0.404031,0.404031,0.404031,0.429323,0.445111,0.428874,0.428423,12115.615150
min,18.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,15.960000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1121.873900
25%,27.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,26.255000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4746.698450
50%,39.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,30.400000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,9386.161300
75%,51.000000,0.0,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,34.687500,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,16717.010750
max,64.000000,0.0,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,53.130000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,63770.428010

-enregistre et converti le dataset netoyer en fichier csv.

In [8]:
df.to_csv('Clean_Dataset_Brief.csv', index=False)